<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Items</title>
</head>
<body>
    <div>
        <form action="/orders/placeorder" method="post">
            <div>
                <label for="email">Email :</label>
                <input type="email" id="email" name="email">
            </div>
        <div>
            <label for="itemname">Item Name :</label>
            <input type="text" id="itemname" name="itemname">
        </div>
        <div>
            <label for="quantity">Quantity :</label>
            <input type="number" id="quantity" name="quantity">
        </div>
        
        
        <button type="submit">Place Order</button>
    </form>
    </div>
</body>
</html>